.listaProductos{
    width: 960px;
    margin: auto;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.productos{
    width: 24%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.carts{
    text-align: center;

}

.carts img{
    width: 100%;
}

